/data/images/*
/data/labels/*

!/data/images/
!/data/labels/



/data/train/images/*
/data/test/images/*
/data/val/images/*

!/data/train/images/
!/data/test/images/
!/data/val/images/


/data/train/labels/*
/data/test/labels/*
/data/val/labels/*

!/data/train/labels/
!/data/test/labels/
!/data/val/labels/

# aug data ignoring

/aug_data/train/images/*
/aug_data/test/images/*
/aug_data/val/images/*

/aug_data/train/labels/*
/aug_data/test/labels/*
/aug_data/val/labels/*