/data/images/*
/data/labels/*

!/data/images/
!/data/labels/



/data/train/images/*
/data/test/images/*
/data/val/images/*

!/data/train/images/
!/data/test/images/
!/data/val/images/


/data/train/labels/*
/data/test/labels/*
/data/val/labels/*

!/data/train/labels/
!/data/test/labels/
!/data/val/labels/